<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main h-screen w-full">
        <div class="nav h-fit bg-green-500 w-full    ">
            <div class="div flex justify-center">
                <h1 class="p-4 text-slate-200 text-3xl font-bold ">Welcome to your website task</h1>
            </div>
            
            <div class="flex justify-center" >
                <p class="text-slate-100 p-2 font-semibold">Home</p>
                <p class="text-slate-100 p-2 font-semibold">About</p>
                <p class="text-slate-100 p-2">Contact</p>
            </div>
        </div>
        <div class="content flex flex-row justify-between">
            <div class=" flex flex-col">
                <div class="aboutCss h-fit  p-2 m-5 border-black-300 shadow-xl">
                    <h3 class="text-green-400 font-bold py-5 ">About Css</h3>
                    <p>content about Css its is all about tailwind magic w</p>
                </div>
                <div class="responsive h-fit m-5 p-5  shadow-xl">
                    <h3 class="text-green-400 font-bold py-5">Responsive Design</h3>
                    <p>Content of Responsive Design</p>
                </div>
            </div>
           
            <div class="boxModel  h-fit  m-5 p-2 shadow-xl">
                <h3 class="text-green-400 font-bold py-5">About BoxModel</h3>
                <p>content about BoxModel, where we can learn all about </p>
            </div>
           
            
            
        </div>
        
    </div>
    <div class="footer bg-black h-30 flex justify-center ">
        <div class="owner ">
            <p class="p-3 font-white text-slate-100">Created by Liteesh Reddy</p>
        
        </div>
        <div class="div">
            <p class="p-3 font-white text-green-400"><a target="_blank" href="https://www.linkedin.com/in/liteesh-reddy">Linkedin</p>
        </div>
        <div class="div">
            <p class="p-3 font-white text-green-400"><a target="_blank" href="https://x.com/LiteeshR69695">Twitter</p>
        </div>
        
    </div>
</body>
</html>