<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

</head>
<body>
    <div class="footer h-screen flex container justify-center items-center bg-Black-500 text-white">
        <div class="div h-[80%] w-[80%] bg-black">
            <div class="logo flex justify-between p-5 border border-b-white">
                <img src="" alt="companyLogo">
                <div class="country flex border border-white border-round">
                    <i><img alt="location"></i>
                    <p>country |</p>
                    <p>English</p>
                </div>
            </div>
            <div class="middle flex  justify-between pt-6 pb-8 border border-b-white" >
                <div class="3div flex w-[50%] justify-evenly">
                    <div class="aboutus">
                        <p class="font-bold p-3">About Us</p>
                        <p class="p-3">Media Center</p>
                        <p class="p-3">Foundation</p>
                        <p class="p-3"> Investors</p>
                        <p class="p-3">Policies and Practice</p>
                        <p class="p-3">Careers</p>
                    </div>
                    <div class="needHelp">
                        <p class="font-bold p-3">NeedHelp</p>
                        <p class="p-3">FAQ</p>
                        <p class="p-3">About Us</p>
                        <p class="p-3">About Us</p>
                    </div>
                    <div class="privacyPolicy">
                        <p class="font-bold p-3">Privacy olicy</p>
                        <p class="p-3">Cookie policy</p>
                        <p class="p-3">not sell personal info</p>
                        <p class="p-3"> Terms and conditions</p>
                        <p class="p-3">Cookie settings</p>
                    </div>
                </div>
                <div class="socialmedia flex p-3 ">
                    <i><img alt="fb"></i>
                    <i><img alt="linkedin"></i>
                    <i><img alt="insta"></i>
                    <i><img alt="yt"></i>
                </div>
            </div>
            <p class="text-right">This is owned and copyright by coca-cola Inc.</p>
        </div>
       
        
    </div>
</body>
</html>