<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="flex justify-center items-center h-screen">
    <div class="card h-100 w-60 relative ">
        <div class="productImg h-[50%] w-full">
            <img src="https://m.media-amazon.com/images/I/717ZSLvOHhL._AC_UF1000,1000_QL80_.jpg" alt="product" class="size-full">
        </div>
        <div class="price flex w-full h-fit space-x-1 mt-2 mb-2" >
            <p class="text-xl font-bold">Now $26.99</p>
            <p class="text-sm font-cross line-through">$89.99</p>
        </div>
        <div class="Description  w-full h-fit" >
            <p>Ecomoment Wireless</p>
            <p>Gaming Headset for PS5 P...</p>

        </div>
        <div class="mt-2 mb-2">
            <button class="border rounded rounded-3xl  p-2">Options</button>
        </div>
        <div class="size-8 rounded-3xl bg-white absolute top-2 right-0 flex justify-center items-center">
            <i class="fa-regular fa-heart size-fit"></i>
        </div>
    </div>
</body>
</html>