<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="Container sm:text-xl">
        <div class="navBar bg-red-900 text-white font-semibold p-2 flex flex-col items-center justify-center sm:text-xl">
            <h1 class="text-2xl ">Free UK SHIPPING ON ALL ORDERS</h1>
            <p class="text-sm">See our reviews Trustpliot</p>
        </div>
        <div class="nav flex justify-between px-2 ">
            <div class="toogle"><i>Icon</i></div>
            <div class="title text-2xl font-semibold"> LONDON BROGUES</div>
            <div class="shopToggle">toggle</div>
        </div>
        <div class="focusDiv h-[60vh] bg-[url(https://londonbrogues.co.uk/cdn/shop/t/26/assets/lb-header.jpg?v=78209799829282309131740671550)] bg-cover bg-center sm:h-fit bg-center bg-cover relative">
            <div class="content w-full h-[60%] flex flex-col justify-center items-center absolute bottom-0">
                <p class="text-xl text-white">HANDCRAFTED MEN'S BROGUES & BOOTS</p>
                <P class="font-bold text-3xl text-white">BRITISH BY DESIGN.</P>
                <P class="font-bold text-3xl text-white">DESIGN BY CHOICE.</P>
                <button class="text-white border border-white p-3">EXPLORE</button>
            </div>
        </div>
        
        <div class="products flex flex-col md:flex-col">
            <div class="card relative h-[80vh] w-[60vh] m-3">
                <div class="imageDiv h-[80%] p-3">
                    <img class="size-full" src="https://londonbrogues.co.uk/cdn/shop/files/BLACKPATENTbrogue.jpg?v=1698323764" alt="shoes">
                </div>
                <p class="text-xl">ALBERT PATENT BROGUE OXFORD</p>
                <p class="font-bold">$74.00 <span class="text-gray-400 line-through">$87.00</span></p>
                <div class="sale textsm h-8 w-8 bg-red-800 text-white absolute top-0 right-3 rounded rounded-3xl">SALE</div>
            </div>
    
            <div class="card relative h-[80vh] w-[60vh] m-3">
                <div class="imageDiv h-[80%] p-3">
                    <img class="size-full" src="https://londonbrogues.co.uk/cdn/shop/products/LBBROWN.jpg?v=1631795137" alt="shoes">
                </div>
                <p class="text-xl">ALBERT PATENT BROGUE OXFORD</p>
                <p class="font-bold">$74.00 <span class="text-gray-400 line-through">$87.00</span></p>
                <div class="sale textsm h-8 w-8 bg-red-800 text-white absolute top-0 right-3 rounded rounded-3xl">SALE</div>
            </div>
    
            <div class="card relative h-[80vh] w-[60vh] m-3">
                <div class="imageDiv h-[80%] p-3">
                    <img class="size-full" src="https://londonbrogues.co.uk/cdn/shop/products/LBTAN.jpg?v=1631795146" alt="shoes">
                </div>
                <p class="text-xl">ALBERT PATENT BROGUE OXFORD</p>
                <p class="font-bold">$74.00 <span class="text-gray-400 line-through">$87.00</span></p>
                <div class="sale textsm h-8 w-8 bg-red-800 text-white absolute top-0 right-3 rounded rounded-3xl">SALE</div>
            </div>
    
            <div class="card relative h-[80vh] w-[60vh] m-3">
                <div class="imageDiv h-[80%] p-3">
                    <img class="size-full" src="https://londonbrogues.co.uk/cdn/shop/files/BLACKPATENTbrogue.jpg?v=1698323764" alt="shoes">
                </div>
                <p class="text-xl">ALBERT PATENT BROGUE OXFORD</p>
                <p class="font-bold">$74.00 <span class="text-gray-400 line-through">$87.00</span></p>
                <div class="sale textsm h-8 w-8 bg-red-800 text-white absolute top-0 right-3 rounded rounded-3xl">SALE</div>
            </div>
    
            <div class="card relative h-[80vh] w-[60vh] m-3">
                <div class="imageDiv h-[80%] p-3">
                    <img class="size-full" src="https://londonbrogues.co.uk/cdn/shop/files/BLACKPATENTbrogue.jpg?v=1698323764" alt="shoes">
                </div>
                <p class="text-xl">ALBERT PATENT BROGUE OXFORD</p>
                <p class="font-bold">$74.00 <span class="text-gray-400 font-none line-through">$87.00</span></p>
                <div class="sale textsm h-8 w-8 bg-red-800 text-white absolute top-0 right-3 rounded rounded-3xl">SALE</div>
            </div>
        </div>
        

        <div class="relative  justify-items-end h-80 bg-[url(https://londonbrogues.co.uk/cdn/shop/t/26/assets/lb-brogues.jpg?v=126712014838268970381740671550)] m-3 p-2 bg-center bg-cover mb-3">
            <div class="lines absolute left-2 bottom-0">
                <p class="text-white pb-2">FROOM OR GUEST</p>
                <p class="text-white font-bold ">THE BROGUES TO</p>
                <p class="text-white font-bold pb-2">SUIT YOUR STYLE</p>
                <p class="text-sm text-white pb-1">> SHOP OUR WEDDING COLLECTION</p>
            </div>
           
        </div>

        <div class="twoImg flex w-full">
            <div class="relative  justify-items-end h-80 bg-[url(https://londonbrogues.co.uk/cdn/shop/t/26/assets/lb-left.jpg?v=56729518042173369651740671550)]  bg-center bg-cover md:flex">
                <div class="lines h-[50%] w-full absolute bottom-0 flex flex-col justify-center items-center ">
                    <p class="text-white text-sm pb-2">LONDON BROGUES</p>
                    <p class="text-white text-2xl font-bold pb-4">BROGUES FOR MEN</p>
                    <p class="text-sm text-white pb-1">> SHOP FOR BROGUES</p>
                </div>
            </div>        
            
            <div class="relative  justify-items-end h-80 bg-[url(https://londonbrogues.co.uk/cdn/shop/t/26/assets/lb-right.jpg?v=54148192252220948911740671550)] bg-center bg-cover md:flex">
                <div class="lines h-[50%] w-full absolute bottom-0 flex flex-col justify-center items-center ">
                    <p class="text-white text-sm pb-2">LONDON BROGUES</p>
                    <p class="text-white text-2xl font-bold pb-4">BROGUES FOR MEN</p>
                    <p class="text-sm text-white pb-1">> SHOP FOR BROGUES</p>
                </div>
            </div>
        </div>
       
        
        <div class="footerSeperator h-8 bg-red-900 mt-2 mb-2"></div>

        <div class="title flex flex-col justify-center items-center mt-20 mb-10">
            <p class="text-3xl text-red-900 font-bold">THE LONDON</p>
            <p class="text-3xl text-red-900 font-bold">BROGUES GURANTEE</p>
        </div>
    </div>
</body>
</html>